<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<table>
    <colgroup>
        <col span="4" style="background-color:rgb(169, 224, 123)">
        <col span="2" style="background-color:rgb(74, 115, 40)">
    </colgroup>
    <tr>
        <th>id</th>
        <th>username</th>
        <th>password</th>
        <th>roles</th>
        <th>delete</th>
        <th>edit</th>
    </tr>
    <tbody>
    <tr th:each="user: ${users}" >

        <td th:text="${user.id}"/>
        <td th:text="${user.username}"/>
        <td th:text="${user.password}"/>
        <td th:text="${user.roles}"/>
        <td><a th:href="@{/admin/delete(id=${user.id})}">delete</a></td>
        <td><a th:href="@{/admin/edit(id=${user.id})}">edit</a></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/admin/new}">Create new user</a>
<div sec:authorize="isAuthenticated()">
    <h4><a href="/logout">logout</a></h4>
    </div>
</body>
</html>