<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User Page</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<table>
    <tr>
        <th>column</th>
        <th>value</th>
    </tr>
    <tbody>
    <tr>
        <td th:text="id"/>
        <td th:text="${user.id}"/>
    </tr>
    <tr>
        <td th:text="username"/>
        <td th:text="${user.username}"/>
    </tr>
    <tr>
        <td th:text="password"/>
        <td th:text="${user.password}"/>
    </tr>
    <tr>
        <td th:text="roles"/>
        <td th:text="${user.roles}"/>
    </tr>
    </tbody>
</table>
<div sec:authorize="isAuthenticated()">
    <h4><a href="/logout">logout</a></h4>
</div>
</body>
</html>